{{define "title"}}Inicio{{end}}

{{define "main"}}
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Artesania Sory</h1>
        <p class="lead text-muted">Manualidades, Tejidos, costura y mucho más...</p>
      </div>
    </div>
  </section>
  <div class="album py-5">
    <div class="container">
      <h1 class="py-3">Categorías de Imágenes.</h1>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        {{if .Categories}}
          {{range .Categories}}
            {{template "category" .}}
          {{end}}
        {{else}}
          <p>No hay categorías para mostrar.</p>
        {{end}}
      </div>
    </div>
  </div>

  <div class="container">
    {{if ne .Metadata.CurrentPage .Metadata.FirstPage }}
      <a class="btn btn-secondary btn-sm" href="/?page=1">Inicio</a>
    {{end}}

    {{if gt (sust .Metadata.CurrentPage 1) 0  }}
      <a class="btn btn-secondary btn-sm" href="/?page={{sust .Metadata.CurrentPage 1}}">Anterior</a>
    {{end}}

    <span>Pagina {{.Metadata.CurrentPage}} de {{.Metadata.LastPage}}</span>

    {{if le (add .Metadata.CurrentPage 1) .Metadata.LastPage  }}
      <a class="btn btn-secondary btn-sm" href="/?page={{add .Metadata.CurrentPage 1}}">Siguiente</a>
    {{end}}

    {{if ne .Metadata.CurrentPage .Metadata.LastPage}}
      <a class="btn btn-secondary btn-sm" href="/?page={{.Metadata.LastPage}}">Fin</a>
    {{end}}
  </div>

{{end}}
