{{define "item"}}
  <div class="col">

    <div class="card shadow-sm">
      <img src="{{.ImageURL}}" alt="{{.Name}}">
      <div class="card-body">
        <h5 class="card-title">{{.Name}}</h5>
        <p class="card-text">{{.Description}}</p>
        <div>
          <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
              <a href="/item/{{.ID}}" class="btn btn-sm btn-outline-secondary">Ver</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{{end}}
